{% extends 'base.html.twig' %}

{% block title %}Detail of Stagiaire: {{stagiaire}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container h-100 w-100" style=
    "height: 100vh; 
    width: 100vh; 
    padding: 20px;
    ">
    <h1>Detail of Stagiaire: {{stagiaire}}</h1>
    <div class="m-0">
        <div class="card mb-3" style="max-width: 1024px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h2 class="card-title"></h2><br>
                        <p class="card-text lh-1"><b>First name : </b>{{stagiaire.FirstName}}</p>
                        <p class="card-textlh-1"><b>Name : </b>{{stagiaire.Name|upper}}</p>
                        <p class="card-textlh-1"><b>Email : </b><a href="mailto:{{stagiaire.Email}}">{{stagiaire.Email}}</a></p>
                        <p class="card-textlh-1"><b>Birth date : </b>{{stagiaire.DateBirth|date('d-m-Y') ~ ' (' ~ stagiaire.Age ~ ' yo)'}}</p>

                        {% if stagiaire.sessions|length == 0 and is_granted("ROLE_ADMIN") %}
                            <h3>Sessions Not Inscripted Available</h3>
                            <table class="table table-striped table-dark text-center align-middle">
                                <thead>
                                    <tr>
                                    <th scope="col">Session</th>
                                    <th scope="col">Date Start</th>
                                    <th scope="col">Date End</th>
                                    <th scope="col">Inscriptions</th>
                                    <th scope="col">Status</th>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <th scope="col">Subscribe</th>
                                    {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in sessionsNotSubscribed %}
                                    <tr>
                                        {% if session.stagiaires|length < session.TotalPlaces %}
                                            <th scope="row"><a href="{{ path('show_session', {'id' : session.id}) }}">{{session}}</a></th>
                                            <td>{{session.DateStart|date('d-m-Y')}}</td>
                                            <td>{{session.DateEnd|date('d-m-Y')}}</td>
                                            <td>{{session.stagiaires|length}}/{{session.TotalPlaces}}</td>
                                            {% if session.stagiaires|length == session.TotalPlaces %}
                                            <td><i class="fa-solid fa-circle" style="color: #ff0000;"></i></td>
                                            {% elseif session.stagiaires|length < session.TotalPlaces %}
                                            <td><i class="fa-solid fa-circle" style="color: #00ff40;"></i></td>
                                            {% endif %}
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <td><a href="{{ path('add_remove_session', { 'idStagiaire' : stagiaire.id, 'idSession' : session.id}) }}"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <h3>Sessions Inscripted</h3>
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                <th scope="col">Session</th>
                                <th scope="col">Date Start</th>
                                <th scope="col">Date End</th>
                                <th scope="col">Inscriptions</th>
                                <th scope="col">Status</th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <th scope="col">Unsubscribe</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for session in stagiaire.sessions %}
                                <tr>
                                    <th scope="row"><a href="{{ path('show_session', {'id' : session.id}) }}">{{session}}</a></th>
                                        <td>{{session.DateStart|date('d-m-Y')}}</td>
                                        <td>{{session.DateEnd|date('d-m-Y')}}</td>
                                        <td>{{session.stagiaires|length}}/{{session.TotalPlaces}}</td>
                                        {% if session.stagiaires|length == session.TotalPlaces %}
                                        <td><i class="fa-solid fa-circle" style="color: #ff0000;"></i></td>
                                        {% elseif session.stagiaires|length < session.TotalPlaces %}
                                        <td><i class="fa-solid fa-circle" style="color: #00ff40;"></i></td>
                                        {% endif %}
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td><a href="{{ path('add_remove_session', { 'idStagiaire' : stagiaire.id, 'idSession' : session.id}) }}"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a></td>
                                        {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_granted("ROLE_ADMIN") %}
                        <h3>Sessions Not Inscripted Available</h3>
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                <th scope="col">Session</th>
                                <th scope="col">Date Start</th>
                                <th scope="col">Date End</th>
                                <th scope="col">Inscriptions</th>
                                <th scope="col">Status</th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <th scope="col">Subscribe</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for session in sessionsNotSubscribed %}
                                <tr>
                                    {% if session.stagiaires|length < session.TotalPlaces %}
                                    <th scope="row"><a href="{{ path('show_session', {'id' : session.id}) }}">{{session}}</a></th>
                                        <td>{{session.DateStart|date('d-m-Y')}}</td>
                                        <td>{{session.DateEnd|date('d-m-Y')}}</td>
                                        <td>{{session.stagiaires|length}}/{{session.TotalPlaces}}</td>
                                        {% if session.stagiaires|length == session.TotalPlaces %}
                                        <td><i class="fa-solid fa-circle" style="color: #ff0000;"></i></td>
                                        {% elseif session.stagiaires|length < session.TotalPlaces %}
                                        <td><i class="fa-solid fa-circle" style="color: #00ff40;"></i></td>
                                        {% endif %}
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td><a href="{{ path('add_remove_session', { 'idStagiaire' : stagiaire.id, 'idSession' : session.id}) }}"><i class="fa-solid fa-plus" style="color: #06d028;"></i></a></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
