{% extends 'base.html.twig' %}

{% block title %}Detail of Session: {{session}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container h-100 w-100" style=
    "height: 100vh; 
    width: 100vh; 
    padding: 20px;
    ">
    <h1>Detail of Session: {{session}}</h1>
    <div class="m-0">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        {# <h2 class="card-title"></h2><br> #}
                        <p class="card-textlh-1"><b>Trainer : </b><a href="{{ path('show_trainer', {'id' : session.Trainer.id}) }}">{{session.Trainer}}</a></p>
                        <p class="card-textlh-1"><b>Start date : </b>{{session.DateStart|date('d-m-Y')}}</p>
                        <p class="card-textlh-1"><b>End date : </b>{{session.DateEnd|date('d-m-Y')}}</p>
                        <p class="card-textlh-1"><b>Total places : </b>{{session.TotalPlaces}}</p>
                        <p class="card-textlh-1"><b>Available places : </b>{{session.TotalPlaces - session.stagiaires|length}}</p>

                        {# 
                        #
                        LIST OF STAGIAIRES SUB/UNSUB
                        #
                        #}

                        {% if session.stagiaires|length == 0 %}
                        <h4>Stagiaires not subscribed</h4>
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th scope="col">Stagiaire</th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <th scope="col">Subscribe</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, stagiaire in stagiairesNotSubscribed %}
                                <tr>
                                <th scope="row">{{key + 1}}</th>
                                <th scope="row"><a href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{stagiaire}}</a></th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <td><a href="
                                    {{ path('add_remove_stagiaire', {'idSession' : session.id, 'idStagiaire' : stagiaire.id}) }}
                                    "><i class="fa-solid fa-plus fa-bounce" style="color: #008000;"></i></a></td>
                                {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% elseif session.stagiaires|length == session.TotalPlaces %}
                                <h4>Stagiaires subscribed</h4>
                                <table class="table table-striped table-dark text-center align-middle">
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th scope="col">Stagiare</th>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <th scope="col">Unsubscribe</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, stagiaire in session.stagiaires %}
                                        <tr>
                                        <th scope="row">{{key + 1}}</th>
                                        <th scope="row"><a href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{stagiaire}}</a></th>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td><a href="{{ path('add_remove_stagiaire', {'idSession' : session.id, 'idStagiaire' : stagiaire.id}) }}"><i class="fa-solid fa-minus fa-bounce" style="color: #ff0000;"></i></a></td>
                                        {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        {% else %}
                                <h4>Stagiaires subscribed</h4>
                                <table class="table table-striped table-dark text-center align-middle">
                                    <thead>
                                        <tr>
                                        <th>#</th>
                                        <th scope="col">Stagiare</th>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <th scope="col">Unsubscribe</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, stagiaire in session.stagiaires %}
                                        <tr>
                                        <th scope="row">{{key + 1}}</th>
                                        <th scope="row"><a href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{stagiaire}}</a></th>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td><a href="{{ path('add_remove_stagiaire', {'idSession' : session.id, 'idStagiaire' : stagiaire.id}) }}"><i class="fa-solid fa-user-minus fa-bounce" style="color: #ff0000;"></i></a></td>
                                        {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                        <h4>Stagiaires not subscribed</h4>
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th scope="col">Stagiaire</th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <th scope="col">Subscribe</th>
                                {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, stagiaire in stagiairesNotSubscribed %}
                                <tr>
                                <th scope="row">{{key + 1}}</th>
                                <th scope="row"><a href=" {{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{stagiaire}}</a></th>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <td><a href="
                                    {{ path('add_remove_stagiaire', {'idSession' : session.id, 'idStagiaire' : stagiaire.id}) }}
                                    "><i class="fa-solid fa-user-plus fa-bounce" style="color: #008000;"></i></a></td>
                                {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}


                        {# 
                        #
                        PROGRAM
                        #
                        #}
                        <h4>Modules programmed with the {{session}} session</h4>
                        {% if session.represents|length == 0 %}
                        <p>The {{session}} session is still not programmed in any module.</p>    
                        {% else %}
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Module</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Days</th>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <th scope="col">Delete Session</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for represent in session.represents %}
                                <tr>
                                    <td scope="row"><a href="{{ path('show_module', {'id' : represent.modules.id}) }}">{{ represent.modules }}</a></td>
                                    <td>{{ represent.modules.categorie }}</td>
                                    <td>{{ represent.days }} {{represent.days == 1 ? 'day' : 'days'}}</td>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <td><a href=""><i class="fa-solid fa-minus fa-bounce" style="color: #ff0000;"></i></a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    
                                    <td colspan="2"><b>Total Days :</b></td>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <td><b>{{ totalDays }} {{totalDays == 1 ? 'day' : 'days'}}</b></td>
                                        <td></td>
                                    {% else %}
                                        <td><b>{{ totalDays }} {{totalDays == 1 ? 'day' : 'days'}}</b></td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <h4>Modules not programmed with the {{session}} session</h4>
                        <table class="table table-striped table-dark text-center align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Module</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Days</th>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <th scope="col">Add Session</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in modulesNotProgrammed %}
                                <tr>
                                    <td scope="row"><a href="{{ path('show_module', {'id' : module.id}) }}">{{ module }}</a></td>
                                    <td>{{ module.categorie }}</td>
                                    <td>jours</td>
                                    <td><a href=""><i class="fa-solid fa-plus fa-bounce" style="color: #008000;"></i></a></td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
