{% extends 'base.html.twig' %}

{% block title %}Detail of Module: {{module}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container h-100 w-100" style=
    "height: 100vh; 
    width: 100vh; 
    padding: 20px;
    ">
    <h1>Detail of Module: {{module}}</h1>
    <div class="m-0">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h2 class="card-title"></h2><br>
                        <p class="card-textlh-1"><b>Number of Sessions: </b>{{module.represents|length}}</p>
                        <p class="card-textlh-1"><b>Name : </b>{{module}}</p>
                    </div>
                </div>
            </div>
            
            
            <div class="row g-0">
                <div class="col-md-12">
                    <h4>Program</h4>
                    <table class="table table-striped table-dark text-center align-middle">
                        <thead>
                            <tr>
                            <th scope="col">Session</th>
                            <th scope="col">Date Start</th>
                            <th scope="col">Date End</th>
                            <th scope="col">Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for represent in module.represents %}
                            <tr>
                            {% if app.user.isVerified == true %}
                                <th scope="row"><a href="{{ path('show_session', {'id' : represent.sessions.id}) }}">{{represent.sessions}}</a></th>
                            {% else %}
                                <th scope="row">{{represent.sessions}}</th>
                            {% endif %}
                            <td>{{represent.sessions.dateStart|date('d-m-Y')}}</td>
                            <td>{{represent.sessions.dateEnd|date('d-m-Y')}}</td>
                            {% if app.user.isVerified == true %}
                                <td><a href="{{ path('show_trainer', {'id' : represent.sessions.trainer.id}) }}">{{represent.sessions.trainer}}</a></td>
                            {% else %}
                                <td>{{represent.sessions.trainer}}</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>
                            {#<th colspan=2><b>Total Days : </b></th>
                            <th colspan=2><b> Oibo</b></th>
                            </tr> #}
                        </tbody>
                    </table>
                <div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
